body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e61717cb;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 220px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.card p {
    margin: 5px 0;
    font-size: 0.9em;
}

.card p strong {
    display: block;
    margin-top: 10px;
}
